
  h1{
    background: red;
    border-radius: 15px;
    font-weight:bold;
    text-shadow: 2px 2px yellow;
  }
  h2{
    font-size: 40px;
    text-shadow: 2px 2px red;
  }
  li{
    font-size: 30px;
  }
  .container{
    border-radius: 25px;
    margin-bottom: 2.8rem;
  }
  .input-field{
    width: 50%;
  }

